@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Poppins:ital,wght@0,300;0,500;1,300&display=swap');


html {
   scroll-behavior: smooth;
}
nav ul li {
    margin-left: 10px;
}

nav ul a{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 1.5px;
    position: relative;
    padding: 0px 50px 10px 0px;
}

nav ul a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #292b2c;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

nav ul a:hover::after {
    width: 100%;
}

/**** Dark line ******/
nav ul.dark a::after {
   content: "";
   width: 0%;
   height: 2px;
   background-color: #fff;
   position: absolute;
   bottom: 0;
   left: 0;
   transition: 0.5s;
   transition-timing-function: ease-in-out;
}

nav ul.dark a:hover::after {
   width: 100%;
}

/**** fim Dark line ******/

header a.botao {
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 1.5px;
}

section#home,
section#sobre,
section#habilidade,
section#projetos,
section#contato {
    height: 100vh;
}

/****** SEÇÃO 2 **************/

section#sobre .container{
    background: url("../img/fundo50.png") repeat-y top right;
    
   
}

@media (max-width: 572px) {
   section#sobre .container{
      background: url("../img/branco.png");
      margin-top: 55px; 
  }
}

/**** filme seção 2 *********/
section#sobre .caixa {
    width: 150px;
    height: 460px;
    margin-left: 50px;
    border: 2px solid rgb(136, 136, 136);
    background-image: url("../img/filmefoto2.png");
    background-size: cover;
    background-position: 100% 0%;
    animation-name: rolagem;
    animation-duration: 23s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes rolagem {
    from { background-position: 100% 0%;}
    to { background-position: 100% 100%;}
}

/********* SEÇÃO 3 ***************/
 section#habilidade .container {
    background: url("../img/fundo50.png") repeat-y top right;
    position: relative;
 }

 @media (max-width: 572px) {
   section#habilidade .container {
      background: url("../img/branco.png") repeat-y top right;
      margin-top: 0px;
      position: relative;
   }
     
  }

 /**** seção 3 engrenagens **********/

 section#habilidade img.amarela {
    position: absolute;
    top: 75px;
    right: 340px;
 } 

 section#habilidade img.azul {
    position: absolute;
    top: 47px;
    right: 261px;
 } 

 section#habilidade img.rosa {
    position: absolute;
    top: 72px;
    right: 210px;
 }
 
 section#habilidade img.lilaz {
    position: absolute;
    top: 125px;
    right: 190px;
 } 

 section#habilidade img.verde {
    position: absolute;
    top: 117px;
    right: 255px;
 } 

 section#habilidade img.cinza {
    position: absolute;
    top: 125px;
    right: 285px;
 }
 
 section#habilidade img.verde1 {
    position: absolute;
    top: 51px;
    right: 335px;
 }

 section#habilidade img.azul2 {
    position: absolute;
    top: 175px;
    right: 210px;
 }

 section#habilidade img.amarela2 {
    position: absolute;
    top: 165px;
    right: 265px;
 } 

 section#habilidade img.verde2 {
    position: absolute;
    top: 215px;
    right: 250px;
 } 

 section#habilidade img.lilaz2 {
    position: absolute;
    top: 125px;
    right: 326px;
 }

 section#habilidade img.white {
    position: absolute;
    top: 153px;
    right: 310px;
 }

 section#habilidade img.white2 {
    position: absolute;
    top: 240px;
    right: 215px;
 } 

 section#habilidade img.amarela,
 section#habilidade img.azul,
 section#habilidade img.rosa,
 section#habilidade img.lilaz,
 section#habilidade img.verde,
 section#habilidade img.verde1,
 section#habilidade img.cinza,
 section#habilidade img.azul2,
 section#habilidade img.amarela2,
 section#habilidade img.lilaz2,
 section#habilidade img.verde2,
 section#habilidade img.white,
 section#habilidade img.white2 {
    opacity: 0.8;
    transform: rotate(0deg);
    animation-name: engrenagem;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
 }

@keyframes engrenagem {
    from {transform: rotate(0deg);}
    to {transform: rotate(369deg);}
}


/*********** SEÇÃO 4 *********************/


section#projetos .area {
   padding-top: 60px;
   /*padding-left: 10px;*/
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 8px;
   background: url(../img/fundo50.png) repeat-y top right;
   
}


#projetos .area video {
   width: 280px;
   margin-top: 10px;
   /*margin-right: 10px;*/
   transition: 0.5s;
   border-radius: 24px;
   border: 3px solid #868585a6;
   background: white;
   box-shadow: 10px 10px 15px #8f8f8f;
}

@media (max-width: 572px) {
   #projetos .area video {
      margin-top: 0px;
      margin-left: 40px;
      width: 160px;
      height: 90px;
      display: inline;
      margin-left: 10px;
      justify-content: center;
      box-shadow: 0px 0px 10px #ffffff;
   }
}

/******************* SEÇÃO 5 *******************/
section#contato .container {
   /*background: linear-gradient(to bottom, white,black);*/
   background: url(../img/fundo50.png) repeat-y top right;
}

section#contato .form-area{
   background: url(../img/fotorafa3.png) no-repeat top right;
   /*background-size: cover;*/
   width: 500px;
   height: 500px;
   padding: 10px;
   margin: 10px auto;
   border: 1px solid rgb(151, 151, 151);
   border-radius: 10px 10px 10px 10px;
   background-color:  rgba(168, 168, 168, 0.5);
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
   box-shadow: 0px 0px 20px #acacac;

}

@media (max-width: 572px) {
   section#contato .form-area {
      width: 400px;
      height: 500px;
   }
   
}

section#contato .form-area label{
   color: white;
   font-size: 1.5em;
   font-weight: bold;
   font-family: "Poppins",sans-serif;
   
}

section#contato .form-area h5{
   background: white;
   border-radius: 15px;
   padding: 10px;
   margin-left: 10px;
   font-family: "Poppins",sans-serif;
   border: none;  
}

section#contato .form-area textarea{
   width: 480px;
   height: 200px;
   border-radius: 15px;   
}

@media (max-width: 572px) {
   section#contato .form-area textarea {
      width: 380px;
      height: 200px;
   }  
}









